# Database
DATABASE_URL="postgresql://postgres.wtidedajizbundbeqlht:[YOUR-PASSWORD]@aws-1-eu-central-2.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.wtidedajizbundbeqlht.supabase.co:5432/postgres"

# Server
PORT=5000
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d